<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class='w-full h-screen bg-zinc-900 '>
      <div
        class="navbar h-[10%] w-full bg-zinc-700 text-white flex justify-evenly items-center mx-auto"
    >
        <a href="/"
        class="font-bold text-xl w-[65%] flex justify-start align-center ml-5"
        >
        Company
        </a>
        <div
        class="flex justify-between items-center font-semibold text-sm w-[35%] mr-5"
        >
        <a href="/BookSession">
            <h5><span class="text-yellow-600">Book your session</span></h5>
        </a>
        <a href="/about">
            <h5>About</h5>
        </a>
        <a href="/contact">
            <h5>Contact us</h5>
        </a>
        <a href="/profile">
            <h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">
            Profile
            </h5>
        </a>
        </div>
        </div>  
        <div class='text-[#fff] flex flex-col justify-center items-center h-[50%] w-full bg-cover bg-center bg-zinc-900 bg-[url("https://images.unsplash.com/photo-1562414872-25fe978523d1?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")]'>
          <h1 class='text-7xl font-bold mb-4 leading-none tracking-tight'>About us</h1>
          <p class='text-md font-semibold w-[50%] text-center'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, corporis? Officiis, rem sed. Vero aut, cum numquam ullam voluptatum qui.</p>
        </div>
        <div class='h-[50%] w-full flex'>
          <div class='h-full w-1/2 text-[#fff] flex justify-center items-center flex-col gap-3'>
            <h1 class='text-5xl font-extrabold tracking-tight mb-10'>Our Mission</h1>
            <p class='text-left w-[70%]'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis mollitia. Hic, debitis quam. Facilis natus iste voluptates et quo.</p>
            <p class='text-left'>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class='h-full w-1/2 p-8 flex items-center justify-center'>
            <div class='h-[80%] w-[90%] rounded-md overflow-hidden'>
              <div class='w-full h-1/2 mb-2'>
                <img class='hover:position-right h-full w-full object-cover position-center' src="https://plus.unsplash.com/premium_photo-1694030762806-a147368e944c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJ1aWxkaW5nJTIwaW1hZ2VzfGVufDB8fDB8fHww" alt="" />
              </div>
              <div class='w-full h-1/2 flex gap-2'>
                <div class='w-1/2 h-full'>
                  <img class='h-full w-full object-cover position-center' src="https://plus.unsplash.com/premium_photo-1694030762987-4775dc16e9c4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YnVpbGRpbmclMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D" alt="" />
                </div>
                <div class='w-1/2 h-full'>
                  <img class='h-full w-full object-cover position-center' src="https://plus.unsplash.com/premium_photo-1694030762789-395e90c61720?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YnVpbGRpbmclMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='w-full h-screen  bg-zinc-900'>
          <h1 class='uppercase text-7xl font-extrabold text-zinc-100 tracking-tight text-center bg-gradient-to-r from-zinc-500'>Meet our team</h1>
          <div class='flex justify-evenly items-center h-[400px] w-full  mt-[15vh]'>
            {/* First Card */}
            <div class='h-[350px] w-[250px] bg-zinc-100 rounded-lg overflow-hidden flex flex-col items-center justify-center relative'>
              <img class='rounded-full h-24 w-24 mb-4 object-cover position-top ' src='https://images.unsplash.com/photo-1531384441138-2736e62e0919?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG90cmFpdHN8ZW58MHx8MHx8fDA%3D' alt='Team Member' />
              <h1 class='font-semibold text-xl mb-2 tracking-tight leading-none text-black'>Ankit Vishwakarma </h1>
              <p class='text-center px-4 font-semibold leading-none tracking-tight text-zinc-500'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget mauris vitae purus posuere porta.</p>
              <div class='absolute bottom-4 left-4 flex items-center gap-3'>
                <a href='#' class='text-blue-400 hover:text-blue-700'><FaLinkedin /></a>
                <a href='#' class='text-blue-800 hover:text-blue-700'><FaTwitter /></a>
  
              </div>
            </div>
  
            {/* Second Card */}
            <div class='h-[350px] w-[250px] bg-zinc-100 rounded-lg overflow-hidden flex flex-col items-center justify-center relative'>
              <img class='rounded-full h-24 w-24 mb-4 object-cover position-top' src='https://images.unsplash.com/photo-1644941339764-dcdcfbae0fbd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cG90cmFpdHMlMjAlMjBtYWxlfGVufDB8fDB8fHww' alt='Team Member' />
              <h1 class='font-semibold text-xl mb-2 tracking-tight leading-none text-black'>Harsh Warghade </h1>
              <p class='text-center px-4 font-semibold leading-none tracking-tight text-zinc-500'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget mauris vitae purus posuere porta.</p>
              <div class='absolute bottom-4 left-4 flex items-center gap-3'>
                <a href='#' class='text-blue-400 hover:text-blue-700'><FaLinkedin /></a>
                <a href='#' class='text-blue-800 hover:text-blue-700'><FaTwitter /></a>
  
              </div>
            </div>
  
            {/* Third Card */}
            <div class='h-[350px] w-[250px] bg-zinc-100 rounded-lg overflow-hidden flex flex-col items-center justify-center relative'>
              <img class='rounded-full h-24 w-24 mb-4 object-cover position-top' src='https://plus.unsplash.com/premium_photo-1674639437824-771a65f1738b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fHBvdHJhaXRzfGVufDB8fDB8fHww' alt='Team Member' />
              <h1 class='font-semibold text-xl mb-2 tracking-tight leading-none text-black'>Soham Vichare </h1>
              <p class='text-center px-4 font-semibold leading-none tracking-tight text-zinc-500'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget mauris vitae purus posuere porta.</p>
              <div class='absolute bottom-4 left-4 flex items-center gap-3'>
                <a href='#' class='text-blue-400 hover:text-blue-700'><FaLinkedin /></a>
                <a href='#' class='text-blue-800 hover:text-blue-700'><FaTwitter /></a>
  
              </div>
            </div>
          </div>
        </div>
        <div class='flex justify-center items-center h-screen w-full bg-zinc-900  '>
          <div class='w-1/2 h-full  flex flex-col justify-center items-center text-white text-6xl font-bold'>
        <h1>Why Choose</h1>
        <h1><span class='text-yellow-500'>Umang</span>?</h1>
          </div>
          <div class='w-1/2 h-full flex justify-center items-center'>
            <div class='h-[450px] w-[650px]  '>
              <div class='h-1/2 w-full  mb-2 flex gap-2'>
                <div class='w-1/2 h-full bg-pink-200 flex justify-center items-center flex-col text-center p-3 rounded-2xl'>
                  <h1 class='font-bold text-3xl tracking-tight mb-4'>More Experience</h1>
                  <p class='font-semibold tracking-tighter leading-none'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas architecto atque tempore, consectetur in explicabo velit rem amet sint repudiandae.</p>
                </div>
                <div class='w-1/2 h-full bg-pink-500 flex justify-center items-center flex-col text-center p-3 rounded-2xl'>
                <h1 class='font-bold text-3xl tracking-tight mb-4'>Ideology</h1>
                  <p class='font-semibold tracking-tighter leading-none'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas architecto atque tempore, consectetur in explicabo velit rem amet sint repudiandae.</p>
  
                </div>
  
              </div>
              <div class='h-1/2 w-full  flex gap-2'>
              <div class='w-1/2 h-full bg-pink-800 flex justify-center items-center flex-col text-center p-3 rounded-2xl'>
              <h1 class='font-bold text-3xl tracking-tight mb-4'>You Come First</h1>
                  <p class='font-semibold tracking-tighter leading-none'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas architecto atque tempore, consectetur in explicabo velit rem amet sint repudiandae.</p>
  
              </div>
                <div class='w-1/2 h-full bg-pink-100 flex justify-center items-center flex-col text-center p-3 rounded-2xl'>
                <h1 class='font-bold text-3xl tracking-tight mb-4'>Innovation with impact</h1>
                  <p class='font-semibold tracking-tighter leading-none'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas architecto atque tempore, consectetur in explicabo velit rem amet sint repudiandae.</p>
  
                </div>
  
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
<script src="/javascript/script.js"></script>
</body>
</html>