<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  

        <div class="w-full h-screen ">

          <div
        class="navbar h-[10%] w-full bg-zinc-700 text-white flex justify-evenly items-center mx-auto"
    >
        <a href="/"
        class="font-bold text-xl w-[65%] flex justify-start align-center ml-5"
        >
        Company
        </a>
        <div
        class="flex justify-between items-center font-semibold text-sm w-[35%] mr-5"
        >
        <a href="/BookSession">
            <h5><span class="text-yellow-600">Book your session</span></h5>
        </a>
        <a href="/about">
            <h5>About</h5>
        </a>
        <a href="/contact">
            <h5>Contact us</h5>
        </a>
        <a href="/profile">
            <h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">
            Profile
            </h5>
        </a>
        </div>
        </div> 

          <div class="section bg-blue-100 h-[90%] flex items-center justify-center flex-col shrink-0 font-semibold ">
       
            <div class="section-subtitle text-3xl font-semibold my-4">Get in touch with us.</div>
          
            <div class="flex flex-wrap justify-center w-[500px] shadow-md ">
              <div class="w-full max-w-md">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                      Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Your Name">
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                      Email
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Email">
                    <p class="text-red-500 text-xs italic">Please enter a valid email address.</p>
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                      Message
                    </label>
                    <textarea class="no-resize appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" placeholder="Your Message"></textarea>
                  </div>
                  <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                      Send
                    </button>
                    <p class="text-gray-600 text-sm">* Required Fields</p>
                  </div>
                </form>
                <p class="text-center text-gray-600 text-sm">
                  &copy;2024 Company Name. All rights reserved.
                </p>
              </div>
            </div>
          </div>

        </div>
  
      
<script src="/javascript/script.js"></script>
</body>
</html>