<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BroCode</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="overflow-x-hidden">
<div class="h-full w-screen bg-[url('https://img.goodfon.com/wallpaper/nbig/c/bc/man-serenity-peaceful-river-sunset.webp')] bg-center bg-cover relative">
<div id="nav" class="navbar h-[10%] w-full text-white flex justify-evenly items-center mx-auto pt-4">
    <a 
    href="/"
    class="font-bold text-2xl w-[65%] flex justify-start align-center ml-5"><h3>Company</h3></a>
    <div class="flex justify-between items-center font-semibold text-sm w-[35%]  mr-5">
        <a href="/BookSession"><h5><span class="text-yellow-500">Book your session</span></h5></a>
        <a href="/about"><h5>About</h5></a>
        <a href="/contact"><h5>Contact us</h5></a>
        <a href="/profile"><h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">Profile</h5></a>
    </div>
</div>

<div class="h-[60%] mt-6 flex justify-between p-4">
  
    <div class="h-[80%] w-[320px] mr-5">
       
        <a href="https://www.youtube.com/watch?v=rkZl2gsLUp4" class="text-white  text-center">
            <div class="h-[200px] hover:scale-105 w-full bg-[url('https://i.ytimg.com/vi/oWjSdwzOA6k/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AHUBoAC4AOKAgwIABABGGUgWyhTMA8=&rs=AOn4CLCF5ffubkAJ3MHzSPW_y6vrxGzCfQ')] bg-cover rounded-2xl"></div>
            <h1 class="text-2xl text-white font-semibold">How to Manage Mental Health - By TEDx</h1>
        </a>
    </div>

    <div class="h-[80%] w-[320px] mt-20 text-white text-2xl">
        <div class="border-b border-black text-black py-4 px-3 hover:text-zinc-900 hover:scale-110 ease-in duration-300"><a href="https://www.verywellmind.com/the-best-mental-health-blogs-5205192">Blog for Mental health</a></div>
        <div class="border-b border-black py-4 px-3 text-black hover:text-zinc-900 hover:scale-110 ease-in duration-300"><a href="https://mpowerminds.com/blog/suicide-prevention-protecting-mental-health-in-post-pandemic-india">Blog for Suicide prevention</a></div>
        
    </div>
</div>
    <div class="w-[40%] h-[90px] bg-zinc-200  rounded-tr-2xl text-6xl flex pt-5 pl-4">
        <h1>A Journey to wellness</h1>
    </div>
    <div id="mental" class=" w-[50%] h-[96px] bg-zinc-200 rounded-tr-2xl text-6xl flex justify-start items-center pt-3 mb-2 p-2">
        <h1 id="aware" class="text-blue-500">Mental wellness</h1>
        <a href="/testinput" class="px-4 py-2 bg-orange-300 text-zinc-50 text-xl font-semibold mt-2 ml-[100px]  rounded-full flex justify-center items-center hover:scale-110 ease-in duration-300" >Access your Health</a>
    </div>

</div>

<div class="w-screen h-[600px]  flex justify-between py-10 px-10">
    <div id="image1" class="w-[40%] bg-[url('https://www.talkspace.com/blog/wp-content/uploads/2021/11/The-Importance-of-Mental-Health.jpg')] bg-cover  rounded-2xl"></div>
    <div class="w-[55%]">
        <h1 class="text-5xl pl-5">You Deserve to be</h1>
        <h1 class="text-5xl pl-5">Mentally Healthy</h1>
        <p class="px-5 py-8 text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, quasi magni? Aspernatur voluptas necessitatibus, impedit nostrum asperiores delectus excepturi pariatur ipsum alias? Facere, quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ipsam!</p>
        <a  href="/doctor" class="w-[200px] h-[40px] bg-black rounded-full px-8 py-2 text-white text-xl ml-5 hover:bg-white hover:text-black border border-black">
            Get Started
        </a>
        <div class="flex justify-between gap-4">
            <div class="w-1/3 h-[240px] mt-4 rounded-2xl px-5 pt-8 shadow-2xl hover:bg-blue-500 hover:text-white">
                <div class="icon w-[45px] h-[45px] rounded-full bg-black">
                    
                </div>
                <div class="mt-2">
                    <h1 class="font-bold ">Confidentiality</h1>
                    <p class="text-sm pr-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dicta nostrum eligendi labore laudantium qui consectetur ducimus, saepe si</p>
                </div>
            </div>
            <div class="w-1/3 h-[240px] mt-4 rounded-2xl px-5 pt-8 shadow-2xl hover:bg-blue-500 hover:text-white">
                <div class="icon w-[45px] h-[45px] rounded-full bg-black">
                    
                </div>
                <div class="mt-2">
                    <h1 class="font-bold ">Confidentiality</h1>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dicta nostrum eligendi labore laudantium qui consectetur ducimus, saepe si</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  

<div class="w-screen h-[600px]  flex flex-row-reverse justify-between py-10 px-10">
    <div class="w-[40%] h-[65%] mt-20 bg-[url('https://t4.ftcdn.net/jpg/04/42/21/29/360_F_442212933_x52WP2tG23txpK2x7PvydD1xxPlWta1F.jpg')] bg-right bg-center rounded-2xl">

    </div>
    <div class="w-[55%]">
        <h1 class="text-5xl pl-5">A Diverse <span class="text-zinc-600">Community</span></h1>
        
        <p class="px-5 py-8 text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, quasi magni? Aspernatur voluptas necessitatibus, impedit nostrum asperiores delectus excepturi pariatur ipsum alias? Facere, quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ipsam!</p>
        <a href="/community" class="w-[200px] h-[40px] px-4 py-3 bg-black rounded-full text-white text-xl ml-5 hover:bg-white hover:text-black border border-black">
            Connect +
        </a>
        <div class="flex justify-between gap-4">
            <div class="w-1/3 h-[240px] mt-4 rounded-2xl px-5 pt-8 shadow-2xl hover:bg-blue-500 hover:text-white">
                <div class="icon w-[45px] h-[45px] rounded-full bg-black">
                    
                </div>
                <div class="mt-2">
                    <h1 class="font-bold ">Confidentiality</h1>
                    <p class="text-sm pr-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dicta nostrum eligendi labore laudantium qui consectetur ducimus, saepe si</p>
                </div>
            </div>
            <div class="w-1/3 h-[240px] mt-4 rounded-2xl px-5 pt-8 shadow-2xl hover:bg-blue-500 hover:text-white">
                <div class="icon w-[45px] h-[45px] rounded-full bg-black">
                    
                </div>
                <div class="mt-2">
                    <h1 class="font-bold ">Confidentiality</h1>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dicta nostrum eligendi labore laudantium qui consectetur ducimus, saepe si</p>
                </div>
            </div>
            <div class="w-1/3 h-[240px] mt-4 rounded-2xl px-5 pt-8 shadow-2xl hover:bg-blue-500 hover:text-white">
                <div class="icon w-[45px] h-[45px] rounded-full bg-black">
                    
                </div>
                <div class="mt-2">
                    <h1 class="font-bold ">Confidentiality</h1>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dicta nostrum eligendi labore laudantium qui consectetur ducimus, saepe si</p>
                </div>

        </div>
    </div>
</div>


</div> 


<div class="w-screen h-[300px] bg-stone-900 flex justify-between py-10 px-5">
    <div class="w-[350px] p-10">
        <h1 class="font-bold text-3xl text-white">NAME</h1>
        <h1 class="text-lg text-white mt-4">Made By Team BroCode</h1>
        <div class="flex gap-4 mt-2">
            <div class="w-1/3 h-[45px] bg-white"></div>
            <div class="w-1/3 h-[45px] bg-white"></div>
            <div class="w-1/3 h-[45px] bg-white"></div>
        </div>
        <h1 class="text-white mt-3">2024 All rights Reserve</h1>
    </div>
    <div class="w-[340px] bg-stone-800 text-white text-lg pt-6 pl-8 flex flex-col gap-1 rounded-2xl font-semibold">
        <h1>About</h1>
        <h1>Our Mission</h1>
        <h1>Privacy Policy</h1>
        <h1>Terms of Services</h1>
    </div>
    <div class="w-[340px] bg-stone-800 text-white text-lg pt-6 pl-8 flex flex-col gap-1 rounded-2xl mr-5 font-semibold">
        <h1>Services</h1>
        <h1>Products</h1>
        <h1>Join Our Team</h1>
        <h1>Partner with us</h1>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="/javascript/script.js"></script>
</body>
</html>