<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="w-full h-screen ">
  <div
  class="navbar h-[10%] w-full bg-zinc-700 text-white flex justify-evenly items-center mx-auto"
>
  <a href="/"
  class="font-bold text-xl w-[65%] flex justify-start align-center ml-5"
  >
  Company
  </a>
  <div
  class="flex justify-between items-center font-semibold text-sm w-[35%] mr-5"
  >
  <a href="/BookSession">
      <h5><span class="text-yellow-600">Book your session</span></h5>
  </a>
  <a href="/about">
      <h5>About</h5>
  </a>
  <a href="/contact">
      <h5>Contact us</h5>
  </a>
  <a href="/profile">
      <h5 class="px-3 py-1 border-zinc-100 border-[2px] rounded-full">
      Profile
      </h5>
  </a>
  </div>
  </div>  

        <div class="w-full h-[90%] px-8 py-8">
            

<form action="/login" method="post" class="w-[50%] mx-auto px-3 py-5 bg-zinc-400 rounded-lg mt-5 font-semibold">
  <h1 class="text-center mb-3 tracking-tight">Login to your account</h1>
    <div class="mb-5">
      <label for="email" name="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
      <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required />
    </div>
    <div class="mb-5">
      <label for="password" name="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
      <input type="password" id="password"
      name="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
    </div>
   <div class="flex justify-between items-center">
    
    <input type="submit" value="Login"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4">

    <a   href="/register" class="px-4 py-2 bg-green-400 rounded-xl" >Register</a>
   </div>
  </form>
  
        </div>
  
</div>
  
   
<script src="/javascript/script.js"></script>
</body>
</html>